* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  max-width: 1500px !important;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

.card {
  border: 1px solid;
  border-color: rgb(229, 231, 235);
  padding: 20px;
  margin: 10px;
  color: #384a62;
  text-align: center;
  max-width: 270px;
  max-height: 500px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 0px 12px rgba(68, 77, 136, 0.1);
}

.image-wrapper {
  overflow: hidden;
  margin: -20px 0px 0px -20px;
}

.card-image {
  width: 270px;
  max-width: 100%;
  height: 220px;
  vertical-align: middle;
  object-fit: cover;
  transition: transform 0.2s;
  cursor: pointer;
}

.card .card-image:hover {
  transform: scale(1.1);
}

.card .card-title {
  margin: -15px 0px -10px 0px;
  font-size: 15px;
  width: 220px;
  font-weight: 600;
}

.card .card-text {
  font-size: 13px;
  color: #748097;
  font-weight: 600;
  margin: 0px 0px -20px 0px;
}

.button {
  background: #d77f81;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 200px;
  max-width: 100%;
  padding: 10px 10px 10px 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  position: relative;
}

.button-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  max-width: calc(100% - 20px);
}

.button-icon {
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0px 10px 0px 0px;
  transition: transform 0.2s ease;
}

.button:hover .button-icon {
  transform: translateX(3px);
}

.price {
  font-size: 20px;
  font-weight: 550;
}

.quantity {
  color: #748097;
  font-size: 14px;
  font-weight: 600;
}

.amount {
  margin-bottom: -10px;
}

/*Extra Large Devices, 4K devices*/
@media (min-width: 1215px) {
  .logoGroup {
    width: 100% !important;
  }
}

/*Large Devices, Desktops*/
@media (min-width: 992px) and (max-width: 1213.99px) {
  .logoGroup {
    width: 100% !important;
  }
  .main-content {
    position: relative;
    z-index: 400;
  }
  .content-container {
    padding: 0px 0px 40px 0px !important;
  }
  .mainImage {
    width: 28rem !important;
    position: absolute;
    right: 0;
    margin-top: 45px !important;
  }
  .noticesContainer {
    flex-wrap: wrap;
  }
  .noticesContainer div {
    margin: 20px !important;
  }
  .footerWrapper {
    flex-wrap: wrap;
  }
  .reviewChildWrapper {
    flex-wrap: wrap;
    gap: 14px !important;
    padding-right: 0px !important;
  }
  .needhelp {
    margin-right: 0px !important;
  }
}

/*Laptops, Medium Devices*/
@media (min-width: 800px) and (max-width: 991.98px) {
  .logoGroup {
    width: 100% !important;
  }
  .mainImage {
    width: 25rem !important;
    position: absolute;
    right: 0;
    margin-top: 70px !important;
  }
  .content-container {
    padding: 0px 0px 40px 0px !important;
  }
  .main-content {
    position: relative;
    z-index: 400;
    margin: 60px 0px 0px 15px !important;
  }
  .reviewOverallContainer {
    padding: 10px 150px 60px 150px !important;
  }
  .reviewOverallContainer h1 {
    width: 100% !important;
    text-align: left !important;
    margin-left: 0px !important;
  }
  .reviewChildWrapper {
    flex-wrap: wrap;
    padding: 0px !important;
  }
  .reviewChildWrapper .reviewChild {
    width: 40rem !important;
  }
  .noticesContainer {
    flex-wrap: wrap;
  }
  .noticesContainer div {
    margin: 20px !important;
  }
  .footerWrapper {
    flex-wrap: wrap;
  }
  .special-child1 {
    margin-right: 70px;
  }
  .featureChildContainer {
    flex-wrap: wrap;
    gap: 50px;
  }
  .list-wrapper .list {
    gap: 20px !important;
    margin-left: 15px !important;
  }
  .list-wrapper .list > li > a {
    font-size: 11px !important;
  }
  .needhelp {
    margin-right: 0px !important;
    font-size: 11px !important;
  }
  .needhelpContainer > a {
    font-size: 11px !important;
  }
  .navbar nav > a {
    margin: 25px 0px 10px 15px !important;
  }
  .navbar nav > a > img {
    width: 7rem !important;
  }
  .nigeriaFlagContainer {
    margin-right: -50px !important;
  }
  .printivo-list li > a {
    font-size: 11px !important;
  }
}

/*Small Devices, Tablets*/
@media (min-width: 640px) and (max-width: 799.98px) {
  .logoGroup {
    width: 100% !important;
  }
  .content-container {
    padding: 0px 0px 60px 0px !important;
  }
  .mainImage {
    width: 22rem !important;
    position: absolute;
    right: 0;
    margin-top: 43px !important;
  }
  .main-content {
    position: relative;
    z-index: 400;
    margin: 10px 0px 0px 30px !important;
  }
  .main-content h1 {
    font-size: 38px !important;
  }
  .main-content p {
    font-size: 25px !important;
    margin-top: 26px !important;
  }
  #questionLabel {
    font-size: 15px !important;
    margin-top: 30px !important;
  }
  .searchWrapper {
    display: flex;
    margin-top: -10px !important;
  }
  .searchWrapper .searchBtn {
    background: #fff;
    color: #384a62;
    margin: 0px 0px 0px 10px;
  }
  .searchWrapper #searchInput {
    width: 83% !important;
  }
  .noticesContainer {
    flex-wrap: wrap;
  }
  .noticesContainer div {
    margin: 20px !important;
  }
  .footerWrapper {
    flex-wrap: wrap;
  }
  .list-wrapper {
    justify-content: space-between !important;
    align-items: center !important;
  }
  .list-wrapper ul {
    display: none !important;
  }
  .list-wrapper .list {
    margin-left: 0px !important;
    gap: 0px !important;
  }
  .printivo-list .list {
    display: none;
  }
  .printivo-list {
    margin: 25px 0px 10px 0px !important;
  }
  .printivo-list li {
    font-size: 12px !important;
    margin-right: -20px !important;
  }
  .printivo-list a {
    margin: -6px 30px 0px 0px !important;
  }
  .navbar.scrolled {
    height: auto !important;
  }
  #mainSearchInput {
    width: 585px !important;
  }
  .needhelp {
    margin-left: 20px !important;
    font-size: 11px !important;
  }
  .needhelpContainer a {
    font-size: 11px !important;
  }
  .whatsappLogo {
    margin-right: 60px !important;
    text-align: center;
  }
  .helpCall {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    width: 100% !important;
  }
  .navbar > nav > a > img {
    margin: 10px 0px 10px -30px !important;
    width: 8rem !important;
  }
  .featureChildContainer {
    flex-wrap: wrap;
    gap: 50px;
  }
  .reviewChildWrapper {
    flex-wrap: wrap;
    padding: 0px 50px 50px 60px !important;
  }
  .reviewChildWrapper .reviewChild {
    width: 50rem !important;
  }
}

/*Extra Small Devices (Phones) */
@media (min-width: 425px) and (max-width: 639.98px) {
  .mainImage {
    display: none;
  }
  .logoGroup {
    width: 100% !important;
  }
  .footerWrapper {
    flex-wrap: wrap;
    gap: 50px !important;
  }
  .featureChildContainer {
    flex-wrap: wrap;
    gap: 50px;
  }
  .noticesContainer {
    flex-wrap: wrap;
  }
  .noticesContainer div {
    margin: 20px !important;
  }
  .reviewChildWrapper {
    flex-wrap: wrap;
    padding: 20px 50px 60px 50px !important;
  }
  .reviewChildWrapper .reviewChild {
    width: 50rem !important;
    height: auto !important;
  }
  .category {
    flex-wrap: wrap;
  }
  .printivo-list .list {
    display: none;
  }
  #mainSearchInput {
    width: 395px !important;
  }
  .list-wrapper ul {
    display: none !important;
  }
  .list-wrapper {
    width: 100% !important;
    justify-content: space-evenly !important;
  }
  .content-container {
    padding: 0px 0px 80px 0px !important;
    width: 100% !important;
  }
  .main-content {
    margin: 10px 0px 0px 20px !important;
  }
  .main-content h1 {
    font-size: 38px !important;
  }
  .main-content p {
    font-size: 23px !important;
    margin-top: 26px !important;
  }
  #questionLabel {
    font-size: 15px !important;
    font-weight: 700 !important;
    margin-top: 30px !important;
  }
  .helpCall {
    margin-right: 0px !important;
  }
  .needhelpContainer {
    gap: 30px !important;
  }
  .needhelpContainer a {
    margin: 0px 0px 0px 0px !important;
  }
  .needhelpContainer .needhelp {
    margin-right: 0px !important;
    display: none !important;
  }
  .whatsappNigeriaLogoWrapper {
    gap: 50px !important;
  }
  .nigeriaFlagContainer {
    margin-right: 0px !important;
    font-size: 10px !important;
    padding: 12px !important;
    border-radius: 60px !important;
  }
  .nigeriaFlagContainer .nigeriaFlagContainer-text {
    font-size: 10px !important;
  }
  .nigeriaFlagContainer .nigeriaFlagContainer-image > img {
    width: 14px !important;
    margin-right: 5px !important;
  }
  .searchWrapper {
    display: flex;
  }
  .searchWrapper .searchBtn {
    background: #fff;
    color: #384a62;
    margin: 0px 0px 0px 10px;
  }
  .navbar.scrolled {
    height: auto !important;
  }
  .navbar > nav > a > img {
    margin: 10px 0px 10px -30px !important;
    width: 9rem !important;
  }
  .product {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)) !important;
  }
  .productTextWrapper {
    margin: 60px 40px 25px 40px !important;
  }
  .productTextWrapper h1 {
    font-size: 22px !important;
  }
  .productTextWrapper p {
    font-size: 14px !important;
  }
  .category {
    margin: 0px 40px !important;
  }
  .categoryTextWrapper {
    margin: 80px 40px 25px 40px !important;
  }
  .categoryTextWrapper h1 {
    font-size: 22px !important;
  }
  .categoryTextWrapper p {
    font-size: 14px !important;
  }
  .card {
    max-width: 550px;
    max-height: 500px;
    height: auto;
    padding: 20px !important;
    margin: 10px auto !important;
  }
  .image-wrapper {
    overflow: hidden !important;
    margin: -20px -20px 0px -20px;
  }
  .card-image {
    width: 50rem !important;
    height: 300px;
  }
  .card .card-title {
    margin: -15px 0px -10px 0px;
    font-size: 18px;
    width: 100% !important;
    font-weight: 600;
  }

  .price {
    font-size: 22px;
    font-weight: 550;
  }

  .quantity {
    font-size: 16px;
    font-weight: 600;
  }
  .button {
    margin: -5px 0px 0px !important;
  }
}

@media (max-width: 424.98px) {
  .mainImage {
    display: none;
  }
  .logoGroup {
    width: 100% !important;
  }
  .footerWrapper {
    flex-wrap: wrap;
    gap: 50px !important;
  }
  .featureChildContainer {
    flex-wrap: wrap;
    gap: 50px;
  }
  .noticesContainer {
    flex-wrap: wrap;
  }
  .noticesContainer div {
    margin: 20px !important;
  }
  .reviewChildWrapper {
    flex-wrap: wrap;
    padding: 0px 0px 50px 0px !important;
  }
  .reviewChildWrapper .reviewChild {
    height: auto !important;
    flex-wrap: wrap !important;
    width: 500px !important;
    padding: 10px !important;
    margin: 0px !important;
  }
  .category {
    padding: 0px 35px 0px 35px !important;
  }
  .printivo-list .list {
    display: none;
  }
  .printivo-list a {
    margin: -4px 30px 0px -30px !important;
  }
  #signInList a {
    font-size: 12px !important;
  }
  #mainSearchInput {
    width: 100% !important;
  }
  .list-wrapper ul {
    display: none !important;
  }
  .list-wrapper {
    width: 100% !important;
    justify-content: space-between !important;
  }
  .content-container {
    padding: 0px 0px 40px 0px !important;
    width: 100% !important;
  }
  .main-content {
    margin: 10px 0px 0px 20px !important;
    width: 100% !important;
  }
  .main-content h1 {
    font-size: 33px !important;
  }
  .main-content p {
    font-size: 21px !important;
    margin-top: 26px !important;
    width: 80% !important;
  }
  #questionLabel {
    font-size: 15px !important;
    font-weight: 700 !important;
    margin-top: 40px !important;
    width: 100% !important;
  }
  .helpCall {
    margin-right: 0px !important;
  }
  .needhelpContainer {
    gap: 30px !important;
  }
  .needhelpContainer a {
    margin: 0px -30px 0px 15px !important;
    font-size: 10px !important;
  }
  .needhelpContainer .needhelp {
    margin-right: 0px !important;
    display: none !important;
  }
  .whatsappNigeriaLogoWrapper {
    gap: 50px !important;
    margin: 0px 0px 0px 0px !important;
  }
  .nigeriaFlagContainer {
    margin-right: 0px !important;
    font-size: 10px !important;
    padding: 12px !important;
    border-radius: 60px !important;
  }
  .nigeriaFlagContainer .nigeriaFlagContainer-text {
    font-size: 9px !important;
    margin-top: 2px !important;
  }
  .nigeriaFlagContainer .nigeriaFlagContainer-image > img {
    width: 13px !important;
    margin-right: 5px !important;
  }
  .searchWrapper {
    display: flex;
  }
  .searchWrapper .searchBtn {
    background: #fff;
    color: #384a62;
    margin: 0px 0px 0px 10px;
    padding: 10px 18px;
    font-size: 13px;
  }
  .searchInputWrapper #mainSearchInput {
    width: 100% !important;
    margin: 0px 10px 0px 0px;
    font-size: 12px !important;
    padding: 25px !important;
  }
  .searchInputWrapper #mainSearchInput::placeholder {
    color: rgba(56, 74, 98, 0.4) !important;
  }
  .searchInputWrapper a img {
    margin: 20px 25px 0px 0px !important;
  }
  .navbar.scrolled {
    height: auto !important;
  }
  .navbar > nav > a > img {
    margin: 5px 0px 0px -30px !important;
    width: 7rem !important;
  }
  .product {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)) !important;
    margin: 0px 20px 0px 20px !important;
  }
  .productTextWrapper {
    gap: 0px !important;
    margin: 60px 20px 25px 20px !important;
  }
  .productTextWrapper h1 {
    font-size: 18px !important;
  }
  .productTextWrapper p {
    font-size: 12px !important;
  }
  .category {
    margin: 0px 0px 0px -16px !important;
    flex-wrap: wrap;
  }
  .categoryTextWrapper {
    gap: 0px !important;
    margin: 60px 20px 25px 20px !important;
  }
  .categoryTextWrapper h1 {
    font-size: 18px !important;
  }
  .categoryTextWrapper p {
    font-size: 11px !important;
    margin-top: 2px !important;
  }
  .card {
    max-width: 400px;
    max-height: 500px;
    height: auto;
    margin: 10px auto 0px auto !important;
  }
  .image-wrapper {
    overflow: hidden !important;
    margin: -20px -20px 0px -20px;
  }
  .card-image {
    width: 40rem !important;
    height: 200px;
  }
  .card .card-title {
    margin: -15px 0px -10px 0px;
    font-size: 18px;
    width: 100% !important;
    font-weight: 600;
  }
  .logoWrapper {
    margin: 100px 30px 50px 30px !important;
  }
  .logoWrapper h1 {
    width: 100% !important;
    font-size: 33px !important;
  }

  .logoWrapper p {
    font-size: 16px !important;
    word-spacing: normal !important;
  }

  .reviewOverallContainer .reviewOverallContainerHeader {
    font-size: 28px !important;
    margin: 50px 20px 25px 20px !important;
  }

  .noticesAllWrapper {
    margin: 0px 0px 0px -40px !important;
  }

  .noticesAllWrapper h1 {
    text-align: left !important;
    margin: 0px 0px 35px 0px !important;
    padding-left: 10px !important;
  }

  .price {
    font-size: 22px;
    font-weight: 550;
  }

  .quantity {
    font-size: 16px;
    font-weight: 600;
  }
  .button {
    margin: -5px 0px 0px !important;
  }
  .footerWrapper {
    padding: 40px 50px 90px 20px !important;
  }
  .featureContainer {
    margin: 100px 0px 100px 30px !important;
  }
  .featureContainerHeader {
    font-size: 26px !important;
  }
  .featureWrapper {
    flex-direction: column !important;
  }
}
